In [35]:
def dico(**kwargs):
    print(kwargs)
    print(type(kwargs))

def dicol(k):
    print(k)
    print(type(k))   
  
j={"remi":"leliance", "georges":"baron"}
dico(**j)
dicol(j)

{'remi': 'leliance', 'georges': 'baron'}
<class 'dict'>
{'remi': 'leliance', 'georges': 'baron'}
<class 'dict'>

In [37]:
a,b,c,d,e="hello"

In [39]:
print(a)
a="r"
print(a)

h
r

In [44]:
record = ('Dave', 'dave@example.com', '773-555-1212', '847-555-1212')
name, email, *phone_numbers = record
phone_numbers
# concatène tous les dernier valeurs dans *"

['773-555-1212', '847-555-1212']

In [46]:
*trailing, current = [10, 8, 7, 1, 9, 5, 10, 3]
trailing
# inverse

[10, 8, 7, 1, 9, 5, 10]

In [49]:
records = [
 ('foo', 1, 2),
 ('bar', 'hello'),
 ('foo', 3, 4),
]

def do_foo(x, y):
 print('foo', x, y)

def do_bar(s):
 print('bar', s)

for tag, *args in records:
 if tag == 'foo':
   do_foo(*args)
 elif tag == 'bar':
   do_bar(*args)

foo 1 2
bar hello
foo 3 4

In [51]:
records = [
 ('foo', 1, 2,4),
 ('bar', 'hello'),
 ('foo', 3, 4),
]

def do_foo(*args):
 print('foo', *args)

def do_bar(s):
 print('bar', s)

for tag, *args in records:
 if tag == 'foo':
   do_foo(*args)
 elif tag == 'bar':
   do_bar(*args)

foo 1 2 4
bar hello
foo 3 4

In [57]:
line = 'nobody:*:-2:-2:Unprivileged User:/var/empty:/usr/bin/false'
uname, *fields, homedir, sh = line.split(':')
print(uname)
print(fields)
print(homedir)
sh
# genial! permet de sortrir les premiers et dernieres blocs. Le * prend tt le reste

nobody
['*', '-2', '-2', 'Unprivileged User']
/var/empty

'/usr/bin/false'

In [60]:
record = ('ACME', 50, 123.45, (12, 18, 2012))
name, *_, (*_, year) = record
print(name)
year

ACME

2012

In [69]:
# une liste de longueur prédéfinie (maxlen)
from collections import deque
q = deque(maxlen=3)
q.append(1)
q.append(2)
q.append(3)
q.append(4)
print(q)
q.appendleft(4)
print(q)
q.popleft()
print(q)

deque([2, 3, 4], maxlen=3)
deque([4, 2, 3], maxlen=3)
deque([2, 3], maxlen=3)

In [175]:
import heapq

nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]
print(heapq.nlargest(3, nums)) # Prints [42, 37, 23]
print(heapq.nsmallest(3, nums)) # Prints [-4, 1, 2]


portfolio = [
 {'name': 'IBM', 'shares': 100, 'price': 91.1},
 {'name': 'AAPL', 'shares': 50, 'price': 543.22},
 {'name': 'FB', 'shares': 200, 'price': 21.09},
 {'name': 'HPQ', 'shares': 35, 'price': 31.75},
 {'name': 'YHOO', 'shares': 45, 'price': 16.35},
 {'name': 'ACME', 'shares': 75, 'price': 115.65}
]
cheap = heapq.nsmallest(3, portfolio, key=lambda s: s['price'])
expensive = heapq.nlargest(3, portfolio, key=lambda s: s['price'])
print(cheap)


min_shares = min(s['price'] for s in portfolio)
print(min_shares)

[42, 37, 23]
[-4, 1, 2]
[{'name': 'YHOO', 'shares': 45, 'price': 16.35}, {'name': 'FB', 'shares': 200, 'price': 21.09}, {'name': 'HPQ', 'shares': 35, 'price': 31.75}]
16.35

In [81]:
from collections import defaultdict
# permet d'avoir des listes en valeurs. Plus simple à gérer
d = defaultdict(list)
d['a'].append(1)
d['a'].append(2)
d['b'].append(4)
d

defaultdict(list, {'a': [1, 2], 'b': [4]})

In [94]:
prices = {
 'ACME': 45.23,
 'AAPL': 612.78,
 'IBM': 205.55,
 'HPQ': 37.20,
 'FB': 10.75
}

min_price = min(zip(prices.values(), prices.keys()))
# min_price is (10.75, 'FB')
print(min_price)
max_price = max(zip(prices.values(), prices.keys()))
# max_price is (612.78, 'AAPL')
print(max_price)
prices_sorted = sorted(zip(prices.values(), prices.keys()))
print(prices_sorted)
print(min(prices.keys()))
max(prices.values())

(10.75, 'FB')
(612.78, 'AAPL')
[(10.75, 'FB'), (37.2, 'HPQ'), (45.23, 'ACME'), (205.55, 'IBM'), (612.78, 'AAPL')]
AAPL

612.78

In [98]:
#min/max
min(prices, key=lambda k: prices[k]) # Returns 'FB'
max(prices, key=lambda k: prices[k]) # Returns 'AAPL'

'AAPL'

In [100]:
#min/max
min_value = prices[min(prices, key=lambda k: prices[k])]
min_value

10.75

In [102]:
# You have two dictionaries and want to find out what they might have in common (same
# keys, same values, etc.).
# Find keys in common
a = {
 'x' : 1,
 'y' : 2,
 'z' : 3
}
b = {
 'w' : 10,
 'x' : 11,
 'y' : 2
}
a.keys() & b.keys() # { 'x', 'y' }
# Find keys in a that are not in b
a.keys() - b.keys() # { 'z' }
# Find (key,value) pairs in common
a.items() & b.items() # { ('y', 2) }

{('y', 2)}

In [103]:
# Make a new dictionary with certain keys removed
c = {key:a[key] for key in a.keys() - {'z', 'w'}}
# c is {'x': 1, 'y': 2}

In [138]:
# removing duplicate!!
def dedupe(items):
 seen = set()
 for item in items:
   if item not in seen:
    yield item
    seen.add(item)
 print("liste ::: {}".format(seen))
 #print("Item %s" %item)

a = [1, 5, 2, 1, 9, 1, 5, 10]
gene=dedupe(a)
print(next(gene))
print(next(gene))

1
5

In [140]:
#If all you want to do is eliminate duplicates, it is often easy enough to make a set. For
#example:
a = [1, 5, 2, 1, 9, 1, 5, 10]
set(a)

{1, 2, 5, 9, 10}

In [141]:
# Slice
items = [0, 1, 2, 3, 4, 5, 6]
a = slice(2, 4)
items[2:4]
[2, 3]

[2, 3]

In [145]:
#manipulation des mots dans une chaine
words = [
 'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
 'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
 'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
 'my', 'eyes', "you're", 'under'
]
from collections import Counter
word_counts = Counter(words)
print(word_counts)
top_three = word_counts.most_common(3)
print(top_three)
# Outputs [('eyes', 8), ('the', 5), ('look', 4)]
print( word_counts['eyes'])

Counter({'eyes': 8, 'the': 5, 'look': 4, 'into': 3, 'my': 3, 'around': 2, 'not': 1, "don't": 1, "you're": 1, 'under': 1})
[('eyes', 8), ('the', 5), ('look', 4)]
8

In [148]:
# generateur avec (): filtre sur une liste très longue, la comprehensive list bof bof
items = [0, 1, 2, 3, 4, 5, 6]
pos = (n for n in items if n > 0)
for x in pos:
      print(x)

1
2
3
4
5
6

In [149]:
#cleaner une liste (garder les int)
values = ['1', '2', '-3', '-', '4', 'N/A', '5']
def is_int(val):
 try:
        x = int(val)
        return True
 except ValueError:
        return False
    
ivals = list(filter(is_int, values))
print(ivals)
# Outputs ['1', '2', '-3', '4', '5']

['1', '2', '-3', '4', '5']

In [151]:
# Extracting a Subset of a Dictionary // comprehensive list avec dico!)
prices = {
 'ACME': 45.23,
 'AAPL': 612.78,
 'IBM': 205.55,
 'HPQ': 37.20,
 'FB': 10.75
}
# Make a dictionary of all prices over 200
p1 = { key:value for key, value in prices.items() if value > 200 }
# Make a dictionary of tech stocks
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
p2 = { key:value for key,value in prices.items() if key in tech_names }
type(tech_names)

set

In [172]:
# minimum
portfolio = [
 {'name': 'IBM', 'shares': 100, 'price': 91.1},
 {'name': 'AAPL', 'shares': 50, 'price': 543.22},
 {'name': 'FB', 'shares': 200, 'price': 21.09},
 {'name': 'HPQ', 'shares': 35, 'price': 31.75},
 {'name': 'YHOO', 'shares': 45, 'price': 16.35},
 {'name': 'ACME', 'shares': 75, 'price': 115.65}
]


min_shares = min(s['shares'] for s in portfolio)
print(min_shares)

35
<class 'int'>

In [164]:
nums = [1, 2, 3, 4, 5]
s = sum([x * x for x in nums])
s2 = sum((x * x for x in nums))
print(type(s2))
print(s2)

<class 'int'>
55